*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 175%;
    margin: 40px 15px 40px;
    text-align: center;
    font-weight: 400;
}

span{
    font-size: 125%;
    border: 1px solid black;
    font-weight: 200;
    padding: 3px 15px;
    position:absolute;
    right:0px;
    top:0px;   
}

p{
    margin-top: 25px;
}

section{
    border: 1px solid black;
    padding: 15px;
    background-color:darkturquoise;
    margin-bottom: 2%;
    position: relative;
}
.row{
  padding: 3%;  
}

#span1 {
    background-color:honeydew;
}

#span2 {
    background-color:lavenderblush;
}

#span3 {
    background-color:blanchedalmond;
}

@media (min-width:992px) {
    .col-lg-4 {
        
        float:left;
        width:32%; 
    }
    .col1,.col2 {
        margin-right: 2%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .col-md-6,.col-md-12 {
        float: left;
    }
    .col-md-6{
        
        width:49%
    }
    .col-md-12{
        
        width:100%
    }
    .col1{
        margin-right: 2%;
    }
}